{% extends 'clinica/base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title"><i class="fa-solid fa-trash"></i> Confirmar Exclusão</h2>
        <p>Tem certeza de que deseja excluir a campanha de marketing "{{ campanha.nome }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Excluir</button>
            <a href="{% url 'clinica:campanhamarketing_list' %}" class="btn btn-secondary"><i class="fa-solid fa-xmark"></i> Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
