

{% extends 'clinica/base.html' %} {# Estende o template base para herdar a estrutura e estilos #}

{% block content %} {# Início do bloco de conteúdo principal da página #}
    {# Título da página de login #}
    <h2 class="card-title"><i class="fa-solid fa-right-to-bracket"></i> Login</h2>
    {# Formulário de login, que envia dados via método POST #}
    <form method="post"> {# O atributo `method="post"` indica que os dados serão enviados de forma segura #}
        {% csrf_token %} {# Token CSRF para proteção contra ataques de falsificação de requisição entre sites #}
        {# Campo para o nome de usuário (RGM/CPF) #}
        <div class="mb-3"> {# Div para agrupar o label e o input com margem inferior #}
            <label for="username" class="form-label">RGM/CPF</label> {# Rótulo para o campo de nome de usuário #}
            <input type="text" class="form-control" id="username" name="username" required> {# Campo de input de texto para o nome de usuário, marcado como obrigatório #}
        </div>
        {# Campo para a senha #}
        <div class="mb-3"> {# Div para agrupar o label e o input com margem inferior #}
            <label for="password" class="form-label">Senha</label> {# Rótulo para o campo de senha #}
            <input type="password" class="form-control" id="password" name="password" required> {# Campo de input de senha, marcado como obrigatório #}
        </div>
        {# Botão de submissão do formulário #}
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-sign-in-alt"></i> Entrar</button> {# Botão primário para enviar o formulário de login #}
    </form>
{% endblock %} {# Fim do bloco de conteúdo #}
